/*reset*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*header*/
header{
   background-color: #1D0F6E; 
   color: white;
   display: flex;
   justify-content: space-between;
   font-size: 20px;
   padding: 10px 70px ;
}

/*main*/
.aviao{
    /*imagem*/
    background-image: url(img/avião.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 750px;

    /*texto*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.aviao h2{
    color:white;
    font-size: 90px;
    width: 800px;
    text-align: center;
    font-weight: 500;
}

.pacote img{
    width: 400px;
    height: 600px;
    border-radius: 20px;
}

.pacote {
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pacote p{
    font-size: 32px;
}

.pacote span {
    font-size: 20px;
}

.titulo {
    font-size: 90px;
    color: #1D0F6E;
    text-align: center;
    margin: 60px 0;
}


/*footer*/
footer{
   background-color: #1D0F6E; 
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 300px;
   font-size: 40px;
}